.input-search input{border: 0;outline: none;background-color: transparent;}
.w-40{width: 40%;}
.w-20{width: 15%;}
.w-5{width: 5%;}
.w-10{width: 10%;}
.languages img{width: 15px;}
select:focus , select{box-shadow: none !important;}
.vertical-line{height: 1rem;width: 1px;margin: auto; background-color: rgb(206, 205, 205);}
.phone-number{transition: all .5s;}
.languages ul,.cities ul{transition: all 1s;margin-top: 20%;height: 0;overflow: hidden;opacity: 0;}
.languages:hover ul , .cities:hover ul{opacity: 1; height: 100px;}
a.navbar-brand {width: 15%;}
.transition{transition: all 1s;}
.navbar-brand img{width: 150px;}
.hover-red:hover{color: red !important;cursor: pointer;}
/* .active{color: red !important;} */
.bg-mint{background-color: mediumaquamarine;}
.bg-beige{background-color: rgb(209, 160, 124);}
.hover-scaling{transition: all 1s;}
.hover-scaling:hover{transform: scale(1.3);}
.bg-gray{background-color: #EBEEF0;}
.text-gray{color: gray;}
.text-orange{color: #CF600F;}
.hover-shadow{transition: all .3s;}
.hover-bg-black:hover{background-color: black;color: white;}
.hover-shadow:hover{box-shadow: 0px 0px 5px 1px gray;}
.hover-block:hover{display: block !important;}
.menu:hover  .menu-section{display: block !important;}
.hover-black{transition: all .3;}
.hover-black:hover{color: black;}
.outline-none{outline: none;}
.line{transition: all 2s;}
a:hover .line{animation: moveLine 2s alternate;}
.line{height: 1px; width: 100%;transform-origin: left;background-color: white;}
@keyframes moveLine {
    0%{width: 0%;transform-origin:left ;}
    25%{width: 100%;transform-origin:right ;}
    75%{width: 0%;margin-left: auto;}
    100%{width: 100%;}
}
.product-slider img{width: 150px;}
.product-slider .img-box{transition: all .3s;}
.product-slider .item:hover .img-box{background:linear-gradient(rgba(0,0,0,.6) , rgba(0,0,0,.6));opacity: .8;}
.product-slider .item:hover p{color: red !important;}
.arrow{opacity: 0;transition: all .3s;left: 0;}
.product-slider .item:hover .arrow{opacity: 1;left: 50%;}
.blog .img-box img{transition: all 2s;}
.blog .img-box:hover img{transform: rotate(10deg) scale(1.3);}
.scroll-up{bottom: 1%;right: 1%;}
.deal .discount , .best .discount{top: 3%; left: 3%;}
.deal .line , .best .line{background-color: black;}
.deal .icons , .arrivals .icons , .best .icons{transition: all .6s;}
.deal .col:hover .icons , .best .col:hover .icons{opacity: 1 !important;}
 .arrivals .icons a:hover, .deal .icons a:hover ,  .best .icons a:hover{background-color: black;}
.arrivals .icons a:hover,.deal .icons a:hover i , .best .icons a:hover i{color: white;}
.same-size{height: 300px;width: 300px; aspect-ratio: 1/1;} 
.arrivals li:hover .line{background-color: black;}
.arrivals .col-lg-4:hover .btns{display: flex !important;}
@keyframes scaling {
  0% { transform: scale(1.2); }
  100% { transform: scale(.9);}
}
.hoodies .col-md-4 .discount{animation: scaling 1s alternate infinite;transition: all 1.5s; top: 30%;right: 30%;}
.active-link:active , .active-link:focus{color: black;}
#reviews img{width: 100px;}
#reviews button:hover{background-color: rgb(245, 61, 61);color: white;border: solid 1px white;}
.sidebar{z-index: 100000;}
.fit-content{width: fit-content;}
.nav-pills button.active{background: transparent !important;color: black !important;}
.scroll-up{cursor: pointer;opacity: 0;}
.scroll-up.show {
  opacity: 1;
}
.scroll-up:hover{transform: scale(1.1);}